@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form { -webkit-box-sizing: border-box; box-sizing: border-box; }

ol, ul, li { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { height: auto; border: 0; }

a { display: inline-block; }

button { border: 0; background: transparent; cursor: pointer; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

input, button { font-family: inherit; font-size: inherit; }

html { width: 100%; min-height: 100%; }

html, body { overflow-x: hidden; }

html { font-weight: 400; font-size: 10px; color: #555; }

body { width: 100%; min-height: 100%; position: relative; font-family: 'Raleway', sans-serif; font-size: 1.6rem; background-color: #000; }

.section-logo, .section-txt { padding-right: 10%; padding-left: 10%; }

.slider-bottom { margin-right: 10%; margin-left: 10%; }

.hide { display: none !important; }

.header { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: fixed; top: 0; left: 2.8rem; z-index: 1; padding: 0 2rem 2rem; -webkit-transition: 0.3s ease; transition: 0.3s ease; }

.header.hide { visibility: hidden; }

.header #canvas { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.header .curtain { width: 9rem; height: 16.25475rem; }

.header .curtain img { display: none; }

.header .no-curtains .curtain { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.header .no-curtains .curtain img { display: block; min-width: 100%; min-height: 100%; -o-object-fit: cover; object-fit: cover; }

.copy { font-family: Arial; font-weight: bold; color: #fff; font-size: 1.1rem; line-height: 1.3rem; }

.footer { display: none; }

.splide-img { position: relative; }

.splide-img.img-1 { width: 40rem; top: -1rem; }

.splide-img.img-2 { width: 50rem; top: 3rem; }

.splide-img.img-3 { width: 70rem; top: 7rem; left: 6rem; }

.splide-img.img-4 { width: 60rem; top: 3rem; }

.splide-img.img-5 { width: 70rem; left: 22rem; top: 11rem; }

.splide-img.img-6 { width: 34rem; left: 5rem; top: 11rem; }

.splide-img.img-7 { width: 90rem; }

.splide-img.img-8 { width: 50rem; left: 4rem; top: 2rem; }

.splide-img.img-9 { width: 55rem; left: -3rem; top: 7.2rem; }

.simbol-box { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.simbol-box #canvas2 { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.simbol-box .curtain2 { width: 30rem; height: 54.18251rem; }

.simbol-box .curtain2 img { display: none; }

.simbol-box .no-curtains .curtain2 { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.simbol-box .no-curtains .curtain2 img { display: block; min-width: 100%; min-height: 100%; -o-object-fit: cover; object-fit: cover; }

.slide-item { height: 70vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; overflow: hidden; }

.slide-item .canvas { position: absolute; top: 0; left: 0; }

.slide-item.last { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.slider-bottom { position: relative; }

.slider-bottom .arrow-box { position: absolute; bottom: 1rem; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 1rem; }

.slider-bottom .copy { display: none; }

.splide__arrow { position: static; top: initial; left: initial; right: initial; width: 3.2rem; height: 3.2rem; opacity: 1; -webkit-transform: none; transform: none; font-size: 0; background: transparent url('data:image/svg+xml,<svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.9 21.8C16.9199 21.8 21.8 16.9199 21.8 10.9C21.8 4.8801 16.9199 0 10.9 0C4.8801 0 0 4.8801 0 10.9C0 16.9199 4.8801 21.8 10.9 21.8ZM13.625 6.8125L6.8125 10.9L13.625 14.9875V6.8125Z" fill="white"/></svg>') 0 0 no-repeat; background-size: contain; opacity: 0.3; -webkit-transition: 0.3s ease; transition: 0.3s ease; }

.splide__arrow.splide__arrow--next { margin-left: 1rem; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.splide__arrow:hover { opacity: 1; }

.slider-progress { background-color: #191919; border-radius: 0.5rem; }

.slider-progress-bar { border-radius: 0.5rem; background-color: #333; height: 1rem; -webkit-transition: width 0.35s ease; transition: width 0.35s ease; width: 0; }

.section-logo { margin-top: 3.6rem; margin-bottom: 2rem; }

.section-txt { padding-bottom: 10%; }

.section-txt .title { font-size: 1.6rem; line-height: 1.9rem; color: #8e8e8e; text-transform: capitalize; font-weight: 900; margin-bottom: 1rem; }

.section-txt .description { font-size: 1rem; line-height: 165%; font-weight: 700; }

@media (min-width: 768px) { .splide-img.img-1 { width: 70rem; top: -1rem; left: -5rem; }
  .splide-img.img-2 { width: 90rem; }
  .splide-img.img-3 { width: 120rem; left: 4rem; top: 10rem; }
  .splide-img.img-4 { width: 98rem; left: -4rem; top: 3rem; }
  .splide-img.img-5 { width: 120rem; left: 40rem; top: 19rem; }
  .splide-img.img-6 { width: 60rem; left: 5rem; top: 18rem; }
  .splide-img.img-7 { width: 150rem; left: -6rem; top: 4rem; }
  .splide-img.img-8 { width: 80rem; top: 2rem; left: 4rem; }
  .splide-img.img-9 { width: 90rem; left: -3rem; top: 7.2rem; } }

@media (min-width: 992px) { .footer { display: block; position: fixed; bottom: 6rem; left: 5%; margin-bottom: -0.2rem; }
  .splide-img.img-2 { width: 107rem; }
  .splide-img.img-3 { width: 140rem; left: 8rem; top: 3rem; }
  .splide-img.img-4 { width: 120rem; left: -9rem; top: 0rem; }
  .splide-img.img-5 { width: 145rem; }
  .splide-img.img-6 { left: 5rem; top: 0rem; }
  .splide-img.img-7 { width: 176rem; left: -12rem; top: 0rem; }
  .splide-img.img-8 { width: 100rem; }
  .splide-img.img-9 { width: 110rem; }
  .simbol-box .curtain2 { width: 44rem; height: 79.46768rem; }
  .slide-item { -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; }
  .slider-bottom { margin-right: 5%; margin-left: 20%; position: absolute; bottom: 6rem; left: 0; right: 0; z-index: 9; }
  .slider-bottom .slider-progress { width: calc(100% - 8rem); }
  .slider-bottom .arrow-box { bottom: -2.1rem; right: 0; left: initial; }
  .section-logo, .section-txt { padding: 0; position: absolute; height: 100%; top: 0; width: 20rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0; }
  .section-logo { -webkit-box-align: center; -ms-flex-align: center; align-items: center; left: 5%; }
  .section-logo img { width: 100%; max-width: 32rem; }
  .section-txt { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; right: 5%; }
  .section-txt .copy { display: none; }
  .section-txt .title { font-size: 2rem; line-height: 2.3rem; }
  .section-txt .description { font-size: 1.2rem; } }

@media (min-width: 1200px) { .section-logo, .section-txt { width: 24rem; } }

@media (min-width: 1800px) { .section-logo, .section-txt { width: 30rem; } }

@media (max-width: 414px) { .header { left: 0; padding-left: 5%; padding-right: 5%; }
  .section-logo, .section-txt { padding-right: 5%; padding-left: 5%; }
  .slider-bottom { margin-right: 5%; margin-left: 5%; } }

@media (max-height: 1023px) { .slide-item { min-height: 60rem; } }
