.img-disabled {
  pointer-events: none;
}

.description-container {
  max-width: 90rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: $custom-gold-gradient-02;
    border-radius: 1rem;
    opacity: 0.1;
    z-index: -1;
  }
}

.pos {
  &-sticky-top {
    position: sticky;
    top: 0;
  }
}

.logo {
  // display: inline-block;
  // vertical-align: middle;
  font-size: 0;
  width: 19.1rem;
  height: 3rem;
  background: url('/images/logo.png') 0 50% no-repeat;
  // background: url(/images/logo_sm.png) 0 50% no-repeat;
  background-size: contain;
  // transform: translate3d(-1rem, 0, 0);
  // &-lg {
  //   background-image: url(/images/logo.png);
  // }
}

.transition-02-ease {
  transition: 0.3s ease-in-out;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.display-test {
  display: none;
}

.is-mb {
  display: none;

  &-f {
    display: none;
  }
}

.height-80vh {
  height: 80vh !important;
}

.cpass-logo {
  @include cpass;
  transform: translateY(0.3rem);
}

.border {
  &-06 {
    border-radius: 6px;
  }

  &-28 {
    border-radius: 2.8rem;
  }
}

.bg-custom {
  &-default-01 {
    background: $default-item-bg;
  }

  &-yellow-01 {
    background: $custom-yellow-01;
  }

  &-blue-01 {
    background: $custom-blue-01;
  }
  &-pink-01 {
    background: $custom-pink-01;
  }
  &-purple {
    &-01 {
      background: $custom-purple-01;
    }
    &-02 {
      background: $custom-purple-02;
    }
    &-03 {
      background: $custom-purple-03;
    }
  }
  &-grey-01 {
    background: $custom-grey-01;
  }
  &-green-01 {
    background: $custom-green-01;
  }

  &-purple-gradient-01 {
    background: $custom-purple-gradient-01;
  }
  &-silver-gradient-01 {
    background: $custom-silver-gradient-01;
    opacity: 0.5;
  }
  &-gold-gradient {
    &-01 {
      background: $custom-gold-gradient-01;
      opacity: 0.5;
    }
    &-02 {
      background: $custom-gold-gradient-02;
      opacity: 0.5;
    }
  }
}
.guide-hint {
  width: 100%;
  text-align: right;
  margin-top: 0.5rem;
  transform: translateY(-1rem);

  .link {
    font-size: 1.4rem;
    color: $primary-text;
    pointer-events: all;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.text-custom {
  &-default-01 {
    color: $default-item-bg;
  }

  &-yellow-01 {
    color: $custom-yellow-01;
  }

  &-blue-01 {
    color: $custom-blue-01;
  }
  &-pink-01 {
    color: $custom-pink-01;
  }
  &-red {
    &-01 {
      color: $custom-red-01;

      .ant-statistic-content-value {
        color: $custom-red-01;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
  &-purple {
    &-01 {
      color: $custom-purple-01;
    }
    &-02 {
      color: $custom-purple-02;
    }
    &-03 {
      color: $custom-purple-03;
    }
  }

  &-silver-gradient {
    &-01 {
      @include background-text($custom-silver-gradient-01);
    }
  }
  &-gold-gradient {
    &-01 {
      @include background-text($custom-gold-gradient-01);
    }
    &-02 {
      @include background-text($custom-gold-gradient-02);
    }
  }
}

.lh {
  &-2 {
    line-height: 2;
  }
}

.fw {
  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }

  &-800 {
    font-weight: 800;
  }

  &-900 {
    font-weight: 900;
  }
}

.fs {
  &-14 {
    font-size: 1.4rem;
  }
  &-16 {
    font-size: 1.6rem;
  }
  &-18 {
    font-size: 1.8rem;
  }
  &-20 {
    font-size: 2rem;
  }
  &-24 {
    font-size: 2.4rem;
  }
}

.ml {
  &-5 {
    margin-left: 0.5rem;
  }

  &-10 {
    margin-left: 1rem;
  }

  &-20 {
    margin-left: 2rem;
  }
}

.mr {
  &-05 {
    margin-right: 0.5rem;
  }

  &-06 {
    margin-right: 0.6rem;
  }

  &-10 {
    margin-right: 1rem;
  }

  &-12 {
    margin-right: 1.2rem;
  }

  &-13 {
    margin-right: 1.3rem;
  }

  &-20 {
    margin-right: 2rem;
  }

  &-22 {
    margin-right: 2.2rem;
  }
}

.mt {
  &-10 {
    margin-top: 1rem;
  }

  &-15 {
    margin-top: 1.5rem;
  }

  &-20 {
    margin-top: 2rem;
  }

  &-30 {
    margin-top: 3rem;
  }

  &-60 {
    margin-top: 6rem;
  }

  &-100 {
    margin-top: 10rem;
  }
}

.mb {
  &-05 {
    margin-bottom: 0.5rem;
  }

  &-08 {
    margin-bottom: 0.8rem;
  }

  &-10 {
    margin-bottom: 1rem;
  }

  &-15 {
    margin-bottom: 1.5rem;
  }

  &-18 {
    margin-bottom: 1.8rem;
  }

  &-20 {
    margin-bottom: 2rem;
  }

  &-24 {
    margin-bottom: 2.4rem;
  }

  &-26 {
    margin-bottom: 2.6rem;
  }

  &-30 {
    margin-bottom: 3rem;
  }

  &-35 {
    margin-bottom: 3.5rem;
  }

  &-40 {
    margin-bottom: 4rem;
  }

  &-50 {
    margin-bottom: 5rem;
  }

  &-60 {
    margin-bottom: 6rem;
  }

  &-80 {
    margin-bottom: 8rem;
  }

  &-150 {
    margin-bottom: 15rem;
  }
}

.pt {
  &-32 {
    padding-top: 3.2rem;
  }
}

.mb-main-gap {
  margin-bottom: 10rem;
}

.mga-logo {
  display: inline-block;
  vertical-align: middle;
  background: url('/images/mga_logo.webp') 0 50% no-repeat;
  background-size: contain;
  width: 15.6rem;
  height: 3rem;
}
.img-mga-logo {
  width: auto;
  height: 3rem;
}

// .ico {
//   display: inline-block;
//   vertical-align: middle;
//   width: 1.8rem;
//   height: 1.8rem;
//   background-position: 50% 50%;
//   background-size: 100% auto;
//   background-repeat: no-repeat;
//   &-bonus {
//     background-image: url(/images/ico_bonus.svg);
//   }
//   &-point {
//     background-image: url(/images/ico_point.svg);
//   }
//   &-cash {
//     background-image: url(/images/ico_cash.svg);
//   }
// }

.img-flag {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
}
.ico-flag {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background-size: contain;
  background-position: 50% 50%;
  margin-right: 0.5rem;
}
.flag-label {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1rem;
}

.flag-item {
  padding: 0;
}

.translate {
  .q-field__append {
    padding-left: 0;
  }
}

.payment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -0.8rem;
  margin-left: -0.8rem;
  width: 100%;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // flex-flow: wrap;
  .payment-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0.8rem;
  }
  .payment-img {
    height: 2rem;
  }
}

.birth-picker {
  z-index: 9999;
}

.link {
  cursor: pointer;
}
.text-link {
  cursor: pointer;
  // color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.games {
  margin-right: -0.8rem;
  margin-left: -0.8rem;
  .item {
    min-height: 15rem;
  }
  .q-img {
    background-image: url('/images/no_img.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    // &:hover {
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 0, 0, 0.5) url('/images/play.svg') 50% 50% no-repeat;
    //     background-size: 8rem 8rem;
    //     z-index: 1;
    //   }
    // }
  }
}

.img-games {
  cursor: pointer;
  &:hover {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5) url('/images/play.svg') 50% 50% no-repeat;
      background-size: 8rem 8rem;
      z-index: 1;
    }
  }
}

.carousel-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-back {
  .q-icon {
    font-size: 1.2rem;
  }
}

.text-gradient {
  .block {
    background: -webkit-linear-gradient(#1070fc, #05cec2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bg-gradient {
  background: $casino-default-gradient-bg;
}

.default-gradient {
  background: $casino-default-gradient-bg;
  &-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.option-btn-controller {
  border-radius: 20rem;
  font-weight: 400;
  font-style: normal;

  &:hover {
    border-color: transparent;
  }

  &.provider {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.body--light {
  .option-btn-controller {
    border: 1px solid $default-item-bg;

    &:hover {
      background: $casino-default-gradient-bg;
      color: #fff;
      border-color: transparent;
    }
  }
}

.body--dark {
  .option-btn-controller {
    border: 1px solid #fff;

    &:hover {
      background: $casino-default-gradient-bg;
      border-color: transparent;
    }
  }
}

.download-link {
  width: auto;
  height: 4rem;
  cursor: pointer;
}

// .sign-btn-controller {
//   top: 3.1rem;

//   .q-btn {
//     border-radius: 1rem 0px 0px 1rem;
//   }

//   .btn-sign-tab {
//     background-color: rgba(255, 255, 255, 0.2);
//     transition: 0.2s ease;
//   }

//   .sign-btn-active {
//     background-color: #fff;
//     .block {
//       background: $casino-default-gradient-bg;
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       background-clip: text;
//       text-fill-color: transparent;
//     }
//   }
// }

.payment-area {
  &.qr {
    text-align: center;
  }

  .description {
    font-size: 1.8rem;
  }
  .cpass-qr-code {
    margin-bottom: 3rem;
  }
  .q-btn {
  }
}

.carousel__icon {
  // color: white;
}

.products {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: wrap;
  margin-right: -0.3rem;
  margin-left: -0.3rem;
  .bg-product {
    background-color: rgba(69, 76, 94, 0.9);
  }

  .btn-product {
    width: calc(50% - 0.6rem);
    margin: 0.3rem;
    font-weight: 400;
    padding: 0.5rem;
  }
}

// .product-list {
//   display: flex;
//   flex-flow: wrap;
//   margin-right: -0.2rem;
//   margin-left: -0.2rem;
//   margin-bottom: 4rem;
// }

// .product-item {
//   flex: 1;
//   border: 0.1rem solid rgba(69, 76, 94, 0.4);
//   width: 100%;
//   margin: 0.2rem;
//   background-color: rgba(69, 76, 94, 0.1);
//   padding: 1.5rem 1rem;
//   border-radius: 0.6rem;
//   cursor: pointer;
//   .img {
//     font-size: 6rem;
//     margin-right: 1rem;
//     margin: 0 auto 1rem 0;
//     img {
//       height: auto;
//     }
//   }

// .text {
//   font-weight: 700;
//   line-height: 1;
//   @include background-text($custom-silver-gradient-01);
// }
// .price {
//   font-size: 2rem;
//   display: block;
//   line-height: 1.5;
// }

//   &.active {
//     background-color: #454c5e;
//   }
//   &:nth-of-type(4) {
//     .text {
//       @include background-text($custom-gold-gradient-01);
//     }
//   }
//   &:nth-of-type(5) {
//     .img {
//       width: 8rem;
//     }
//     .text {
//       @include background-text($custom-gold-gradient-02);
//     }
//   }
// }

.table-card-list {
  padding: 1rem 1.5rem;
  .q-item {
    min-height: initial;
    padding: 0;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    .title {
      font-size: 1.2rem;
    }
    .value {
      font-size: 1.4rem;
    }
  }
}

.affiliate-form-area {
  margin-top: 5rem;
  .q-form {
    width: 100%;
    max-width: 60rem;
    // .q-field row no-wrap items-start q-field--standard q-input q-field--labeled q-field--dense q-field--dark q-field--with-bottom
  }
  .q-field {
    margin-bottom: 2rem;
  }
}

.promo-card {
  cursor: pointer;
  .q-img__image {
    transition: all 0.3s ease;
  }
  &:hover {
    .q-img__image {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .is-mb {
    display: block;

    &-f {
      display: flex;
    }
  }

  .logo {
    width: 30.6rem;
    height: 4.5rem;
  }

  .payment-list {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .payment-item {
      padding: 1rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  .mb-main-gap {
    margin-bottom: 15rem;
  }
  .products {
    .btn-product {
      width: calc(33.33% - 0.6rem);
    }
  }
}
