@keyframes slideAnimation {
  from {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  to {
    transform: translateX(5px);
  }
}

// @keyframes marvelSlideReverse {
//   from {
//     transform: translateX(-5px);
//   }

//   50% {
//     transform: translateX(5px);
//   }

//   to {
//     transform: translateX(-5px);
//   }
// }

@media (min-width: 720px) {
  @keyframes slideAnimation {
    from {
      transform: translateX(15px);
    }

    50% {
      transform: translateX(-15px);
    }

    to {
      transform: translateX(15px);
    }
  }
  // @keyframes marvelSlideReverse {
  //   from {
  //     transform: translateX(-15px);
  //   }

  //   50% {
  //     transform: translateX(15px);
  //   }

  //   to {
  //     transform: translateX(-15px);
  //   }
  // }
}

@mixin cpass($color: 'rgb(25,25,25)', $h: 2.4rem) {
  display: inline-block;
  vertical-align: middle;
  width: (28.8rem * $h) / 6.8rem;
  height: $h;
  background-size: contain;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 288 68" fill="#{$color}" xmlns="http://www.w3.org/2000/svg"><path d="M79.2339 0C64.0648 0 51.7646 12.3001 51.7646 27.4693V67.2997H63.9732V50.3145C68.3378 53.2446 73.5875 54.9538 79.2339 54.9538C94.4031 54.9538 106.703 42.6537 106.703 27.4845C106.703 12.3154 94.4031 0 79.2339 0ZM79.2339 42.73C70.81 42.73 63.9732 35.8932 63.9732 27.4693C63.9732 19.0454 70.81 12.2086 79.2339 12.2086C87.6578 12.2086 94.4946 19.0454 94.4946 27.4693C94.4946 35.8932 87.6578 42.73 79.2339 42.73Z"/><path d="M167.212 27.4693C167.212 12.3001 154.927 0 139.743 0C124.558 0 112.273 12.3001 112.273 27.4693C112.273 42.6384 124.574 54.9385 139.743 54.9385C145.389 54.9385 150.639 53.2293 155.003 50.2993V54.9385H167.197V27.6371C167.197 27.6371 167.197 27.5303 167.197 27.4693H167.212ZM139.743 42.73C131.319 42.73 124.482 35.8932 124.482 27.4693C124.482 19.0454 131.319 12.2086 139.743 12.2086C148.167 12.2086 155.003 19.0454 155.003 27.4693C155.003 35.8932 148.167 42.73 139.743 42.73Z"/><path d="M45.0954 46.1331L37.7245 38.7622C35.0081 41.2192 31.437 42.73 27.4845 42.73C19.0606 42.73 12.2238 35.8932 12.2238 27.4693C12.2238 19.0454 19.0606 12.2086 27.4845 12.2086C31.2997 12.2086 34.7639 13.6125 37.4498 15.9169L46.0873 7.27936C41.1734 2.77745 34.6571 0 27.4693 0C12.3001 0 0 12.3001 0 27.4693C0 42.6384 12.3001 54.9385 27.4693 54.9385C34.7486 54.9385 41.3412 52.0848 46.2552 47.4608L45.0954 46.1331Z"/><path d="M260.531 0C252.718 0 245.682 3.28105 240.692 8.51547L248.597 16.4205L249.284 17.1836C252.077 14.1467 256.075 12.2238 260.531 12.2238C268.955 12.2238 275.792 19.0606 275.792 27.4845C275.792 35.9084 268.955 42.7452 260.531 42.7452C255.953 42.7452 251.863 40.7156 249.07 37.5261C248.933 37.3735 248.796 37.2209 248.673 37.0683L239.044 27.4387L233.626 22.0212L230.376 18.7707L220.06 8.45443L219.297 7.6914L218.885 7.27936H218.869C213.971 2.79271 207.454 0.0152607 200.282 0.0152607C185.113 0.0152607 172.812 12.3154 172.812 27.4845C172.812 42.6537 185.113 54.9538 200.282 54.9538C207.561 54.9538 214.154 52.1 219.068 47.4761L217.908 46.1484L210.537 38.7775C207.821 41.2344 204.25 42.7452 200.297 42.7452C191.873 42.7452 185.036 35.9084 185.036 27.4845C185.036 19.0606 191.873 12.2238 200.297 12.2238C204.112 12.2238 207.576 13.6278 210.262 15.9322L211.88 17.5498L221.754 27.4235L227.232 32.9021L230.422 36.0916L240.28 45.95L240.494 46.1636C245.514 51.5659 252.641 54.9691 260.577 54.9691C275.746 54.9691 288.046 42.6689 288.046 27.4998C288.046 12.3307 275.7 0 260.531 0Z"/></svg>');
}

@mixin ico($name, $color: 'rgb(25,25,25)') {
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @if $name == 'xmark' {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color}"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>');
  }
  @if $name == 'hot' {
    background-image: url('data:image/svg+xml, <svg viewBox="0 0 61 66" fill="#{$color}" xmlns="http://www.w3.org/2000/svg"><path d="M48.4375 19.3333C48.4375 24.6458 46.6667 31.7292 38.1667 34.5625C40.6458 28.5417 41 22.5208 39.2292 16.8542C36.75 9.41666 28.6042 3.74999 22.9375 0.562489C21.5208 -0.500011 19.0417 0.916656 19.3958 3.04166C19.3958 6.93749 18.3333 12.6042 12.3125 18.625C4.52083 26.4167 0.625 34.5625 0.625 42.3542C0.625 52.625 7.70833 65.375 21.875 65.375C7.70833 51.2083 18.3333 38.8125 18.3333 38.8125C21.1667 59.7083 36.0417 65.375 43.125 65.375C49.1458 65.375 60.8333 61.125 60.8333 42.7083C60.8333 31.7292 56.2292 23.2292 52.3333 18.2708C51.2708 16.5 48.7917 17.5625 48.4375 19.3333Z" /></svg>');
  }
  @if $name == 'casino' {
    background-image: url('data:image/svg+xml, <svg viewBox="0 0 83 83" fill="#{$color}" xmlns="http://www.w3.org/2000/svg"><path d="M82.2916 41.5002C82.2916 64.0468 64.0466 82.2918 41.4999 82.2918C18.9533 82.2918 0.708252 64.0468 0.708252 41.5002C0.708252 18.9535 18.9533 0.708496 41.4999 0.708496C64.0466 0.708496 82.2916 18.9535 82.2916 41.5002ZM45.2083 12.056C53.107 13.0572 60.3012 17.2106 65.122 23.5518L71.5745 19.8435C68.5274 15.5471 64.5999 11.9491 60.0536 9.28915C55.5074 6.62917 50.4466 4.9682 45.2083 4.41683V12.056M11.4253 19.8435L17.8778 23.5518C20.2683 20.4102 23.2602 17.7758 26.6791 15.8021C30.098 13.8284 33.8756 12.555 37.7916 12.056V4.41683C32.5533 4.9682 27.4925 6.62917 22.9462 9.28915C18.3999 11.9491 14.4725 15.5471 11.4253 19.8435ZM7.717 56.7043L14.1324 52.996C12.6086 49.3549 11.8239 45.4472 11.8239 41.5002C11.8239 37.5531 12.6086 33.6454 14.1324 30.0043L7.717 26.296C5.53617 31.068 4.40746 36.2534 4.40746 41.5002C4.40746 46.7469 5.53617 51.9323 7.717 56.7043M37.7916 70.9443C33.8756 70.4453 30.098 69.1719 26.6791 67.1982C23.2602 65.2245 20.2683 62.5901 17.8778 59.4485L11.4253 63.1568C14.4725 67.4532 18.3999 71.0512 22.9462 73.7112C27.4925 76.3712 32.5533 78.0321 37.7916 78.5835V70.9443ZM71.5745 63.1568L65.122 59.4485C62.7315 62.5901 59.7396 65.2245 56.3207 67.1982C52.9018 69.1719 49.1243 70.4453 45.2083 70.9443V78.361C55.777 77.2856 65.3816 71.7602 71.5745 63.1568M75.2828 56.7043C79.6958 47.0627 79.6958 35.9377 75.2828 26.296L68.8674 30.0043C70.3912 33.6454 71.1759 37.5531 71.1759 41.5002C71.1759 45.4472 70.3912 49.3549 68.8674 52.996L75.2828 56.7043ZM52.6249 41.5002L41.4999 22.9585L30.3749 41.5002L41.4999 60.0418L52.6249 41.5002Z" /></svg>');
  }
}

@mixin background-text($bg-color) {
  background: $bg-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
